ENVIRONMENT=
DEBUG=
SECRET_KEY=
BACKEND_PORT=
POSTGRES_PORT=
REDIS_PORT=
FRONTEND_PORT=
AIRFLOW_PORT=
MAIL_UI_PORT=
MAIL_SMTP_PORT=
PROMETHEUS_PORT=
GRAFANA_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
REDIS_HOST=
DATABASE_URL=
REDIS_URL=
ALERT_EMAIL_SENDER=
SLACK_WEBHOOK_URL=
